<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Submit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
            <form action="/upload/" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Houses JSON data</label><br>
                    <input type="file" class=".form-control-file" name="house_data">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>    
</body>
</html>